<html>
<head>
    <meta charset="UTF-8" />
    <!-- ADDITION 1: Add jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    fieldset {
        margin-top: 10px;
    }
</style>
</head>
<body>
<div class="questionnaire">
<form id="form_to_track">
    <fieldset>
        <h2>GENERAL NUTRITION KNOWLEDGE QUESTIONNAIRE<br><small></small></h2>
    </fieldset>

    <!-- Field type: "grid" id: "909291924" -->
    <fieldset>
        <legend for="909291924"> Do health experts recommend that people should be eating more, the same amount, or less of the following foods? (tick one box per food)</legend>
        <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <span>Fruit: </span>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.1" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.1" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.1" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.1" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Food and drinks with added sugar: </span>
                        </td>
                         <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.2" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.2" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.2" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.2" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Vegetables: </span>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.3" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.3" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.3" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.3" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Fatty foods: </span>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.4" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.4" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.4" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.4" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Processed red meat: </span>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.5" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.5" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.5" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.5" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Wholegrains: </span>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.6" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.6" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.6" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.6" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Salty foods: </span>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.7" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.7" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.7" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.7" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Water: </span></td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" name="entry.8" value="More" >
                                More
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.8" value="Same" >
                                Same
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.8" value="Less" >
                                Less
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="entry.8" value="Not Sure" >
                                Not Sure
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1942535846" -->
    <fieldset>
        <legend for="1942535846">How many servings of fruit and vegetables per day do experts advise people to eat as a minimum? (One serving could be, for example, an apple or a handful of chopped carrots) (tick one)</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1581040908" value="2" >
                    2
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1581040908" value="3" >
                    3
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1581040908" value="4" >
                    4
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1581040908" value="5 or more" >
                    5 or more
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1581040908" value="Not sure" >
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "grid" id: "1484250011" -->
    <fieldset>
        <legend for="1484250011">Which of these types of fats do experts recommend that people should eat less of? (tick one box per food)</legend>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <span>Unsaturated fats: </span>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="entry.10" value="Eat less" >
                            Eat less
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.10" value="Not eat less" >
                            Not eat less
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.10" value="Not sure" >
                            Not sure
                        </label>
                    </td>
                </tr>
            <tr>
                <td>
                <span>Trans fats: </span>
                </td>
                <td>
                        <label class="radio-inline">
                            <input type="radio" name="entry.11" value="Eat less" >
                            Eat less
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.11" value="Not eat less" >
                            Not eat less
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.11" value="Not sure" >
                            Not sure
                        </label>
                    </td>
            </tr>
            <tr>
                <td>
                <span>Saturated fats: </span>
                </td>
                <td>
                        <label class="radio-inline">
                            <input type="radio" name="entry.12" value="Eat less" >
                            Eat less
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.12" value="Not eat less" >
                            Not eat less
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.12" value="Not sure" >
                            Not sure
                        </label>
                    </td>
            </tr>
            </table>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "614464080" -->
    <fieldset>
        <legend for="614464080">Which type of dairy foods do experts say people should drink? (tick one)</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1867923123" value="Full fat (e.g. full fat milk)" >
                    Full fat (e.g. full fat milk)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1867923123" value="Reduced fat (e.g. skimmed and semi-skimmed milk)" >
                    Reduced fat (e.g. skimmed and semi-skimmed milk)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1867923123" value="Mixture of full fat and reduced fat" >
                    Mixture of full fat and reduced fat
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1867923123" value="Neither, dairy foods should be avoided" >
                    Neither, dairy foods should be avoided
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1867923123" value="Not sure" >
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1235074444" -->
    <fieldset>
        <legend for="1235074444">How many times per week do experts recommend that people eat oily fish (e.g. salmon and mackerel)? (tick one)</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.802301158" value="1-2 times per week" >
                    1-2 times per week
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.802301158" value="3-4 times per week" >
                    3-4 times per week
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.802301158" value="Every day" >
                    Every day
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.802301158" value="Not sure" >
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "790839540" -->
    <fieldset>
        <legend for="790839540">To maintain a healthy weight people should cut fat out completely. (tick one)</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.199668438" value="Agree" >
                    Agree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.199668438" value="Disagree" >
                    Disagree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.199668438" value="Not sure" >
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "726851653" -->
    <fieldset>
        <legend for="726851653">To maintain a healthy weight people should eat a high protein diet. (tick one)</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.198113691" value="Agree" >
                    Agree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.198113691" value="Disagree" >
                    Disagree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.198113691" value="Not sure" >
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "891796732" -->
    <fieldset>
        <legend for="891796732">Eating bread always causes weight gain. (tick one)</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.302073521" value="Agree" >
                    Agree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.302073521" value="Disagree" >
                    Disagree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.302073521" value="Not sure" >
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1338081837" -->
    <fieldset>
        <legend for="1338081837">Fibre can decrease the chances of gaining weight. (tick one)</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.91415799" value="Agree" >
                    Agree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.91415799" value="Disagree" >
                    Disagree
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.91415799" value="Not sure" >
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "paragraph" id: "2152263" -->
    <fieldset>
        <legend for="2152263">Describe the healthiest meal you&#x27;ve eaten lately</legend>
        <div class="form-group">
            <textarea id="1143639619" rows="5" cols="100" name="entry.1143639619" class="form-control" ></textarea>
        </div>
    </fieldset>


    <!-- Field type: "paragraph" id: "671002962" -->
    <fieldset>
        <legend for="671002962">Describe the unhealthiest meal you&#x27;ve eaten lately</legend>
        <div class="form-group">
            <textarea id="1565605794" rows="5" cols="100" name="entry.1565605794" class="form-control" ></textarea>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1532498878" -->
    <fieldset>
        <legend for="1532498878">What is your favorite type of food?</legend>
        <div class="form-group">
            <textarea id="1472142535" rows="5" cols="100" name="entry.1472142535" class="form-control" ></textarea>
        </div>
    </fieldset>

    <input type="hidden" name="fvv" value="1">
    <input type="hidden" name="fbzx" value="-4870662114065797963">
    <!--
        CAVEAT: In multipages (multisection) forms, *pageHistory* field tells to google what sections we've currently completed.
        This usually starts as "0" for the first page, then "0,1" in the second page... up to "0,1,2..N" in n-th page.
        Keep this in mind if you plan to change this code to recreate any sort of multipage-feature in your exported form.
        We're setting this to the total number of pages in this form because we're sending all fields from all the section together.
    -->
    <input type="hidden" name="pageHistory" value="0">
    <br>
    <input class="btn btn-primary" id="submitbutton" type="submit" value="Submit">
</form>
</div>
<!-- ADDITION 2: Add formId -->
<script>
    // Set the global variable for form ID
    var formId = "form_to_track";
</script>
<!-- ADDITION 3: Add analyzer.js -->
<script type="text/javascript" src="http://localhost:5001/static/js/analyzer.js" async></script>
</body>
</html>

