<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Behavior Analytics Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>Welcome to the User Behavior Analytics Platform</h1>

    <div class="option">
        <a href="http://127.0.0.1:5002/nutrition.html" class="btn btn-primary">Go to Demo Questionnaire</a>
        <p class="description">
            This is a demo questionnaire where your mouse movements will be recorded. We use this data to analyze user behavior and interaction patterns within the questionnaire. Try it out and see how it works!
        </p>
    </div>

    <div class="option">
        <a href="dashboard.html" class="btn btn-secondary">View Dashboard</a>
        <p class="description">
            Visit the dashboard to view aggregated data and insights from all user interactions. You can see graphical representations of mouse movement patterns, click behaviors, and more.
        </p>
    </div>
</div>

</body>
</html>
